header{
   text-align: center;
  
}
nav{
    
    font-style:normal;
}

main{
    background-image: url(bg.jpg);
    background-blend-mode: difference ;
    text-align: center;
    color: whitesmoke;
    padding:0%;
    background-size: cover;
    
}
section{
    
}
